

<p>
  <b>Tag:</b>
  <%= @tagging.tag_id %>
</p>

<p>
  <b>Question:</b>
  <%= @tagging.question_id %>
</p>


<%= link_to 'Edit', edit_tagging_path(@tagging) %> |
<%= link_to 'Back', taggings_path %>
