<h1>Editing answer</h1>

<%= render :partial => "answers/form", 
           :locals => { 
              :answer_form_options => {
                :url => question_answer_path(@question,@answer),
                :html => {
                  :class => "form-horizontal well"
                }
              }
            } %>
