<div class ="page-header">
	<h1>Welcome to UPE, Chico Chapter</h1>
</div>
<p>
	UPE is the honor society for the computing and information sciences. Here you will find information about
	our members, events and services.
</p>
<div class ="span8">
	<h2>Services</h2>
	<dl>
		<dt>In-Lab Tutoring</dt>
			<dd>
				we provide assistance finding/debugging assignments during lab periods.
			</dd>
		<dt>Peer-Tutoring</dt>
			<dd>
				we provide personalized tutoring sessions.
			</dd>
		<dt>Online Question/Answer*</dt>
			<dd>
				we provide a open microblogging style question and answer forum, where you can ask/answer Computer Science related questions.
			</dd>
		<dt>Online Tutoring*</dt>
			<dd>
				we provide assistance finding/debugging assignments through a online collaborative text editor.
			</dd>
	</dl>
	<p>
		<b>*</b>Tutor availability is subject to change without notice
	</p>
</div>
